<!DOCTYPE HTML>
<html lang="en" ng-app="phonecatApp" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Google Phone Gallery</title>

    <link rel="stylesheet" th:href="@{/css/app.css}" href="../static/css/app.css" />
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}" href="../static/css/bootstrap.css" />
    <link rel="stylesheet" th:href="@{/css/animations.css}" href="../static/css/animations.css" />

    <script th:src="@{/lib/jquery/jquery-1.10.2.js}" src="../static/lib/jquery/jquery-1.10.2.js"></script>
    <script th:src="@{/lib/angular/angular.js}" src="../static/lib/angular/angular.js"></script>
    <script th:src="@{/lib/angular/angular-animate.js}" src="../static/lib/angular/angular-animate.js"></script>
    <script th:src="@{/lib/angular/angular-resource.js}" src="../static/lib/angular/angular-resource.js"></script>
    <script th:src="@{/lib/angular/angular-route.js}" src="../static/lib/angular/angular-route.js"></script>

    <script th:src="@{/js/app.js}" src="../static/js/app.js"></script>
    <script th:src="@{/js/animations.js}" src="../static/js/animations.js"></script>
    <script th:src="@{/js/controllers.js}" src="../static/js/controllers.js"></script>
    <script th:src="@{/js/filters.js}" src="../static/js/filters.js"></script>
    <script th:src="@{/js/services.js}" src="../static/js/services.js"></script>
</head>
<body>

<div class="view-container">
    <div ng-view="true" class="view-frame"></div>
</div>

</body>
</html>
